.about-website a{
text-decoration: none;
font-family: 'Courier New', Courier, monospace;
}

.footer{
text-align: center;
height: 42px;
width: 100%;
}

.about-website{
margin-top: 12px;
margin-bottom: 12px;
font-family: 'Courier New', Courier, monospace;
font-weight: 600;
}

.about-website p{
font-size: 10px;
}