@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Cormorant+Infant:wght@300&family=Nunito+Sans&family=Ubuntu:wght@300&display=swap");

html * {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  letter-spacing: 0.04rem;
}

html,
body * {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

h1,
h2,
h3,
h3 > a,
p,
li {
  font-family: "Nunito Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none !important;
}

@media only screen and (max-width: 600px) {
  html,
  body {
    scroll-behavior: smooth;
    scroll-snap-type: y;
  }
}
